body {
    background-image: url('slot1.png');
    /* background-size: 90%; */
    background-position: center;
    background-repeat: no-repeat;
}

#root {
    position:fixed;
    top: 10%;
    margin-left: 19%;
    font-size: 60px;
    text-align: center;
}

.fruits {
    letter-spacing: 60px;
}